{{ template "layout.html" . }}

{{ define "content" }}
    <div class="registry">
        <div class="registry-header">
            <h1>Реєстри</h1>
            <a href="{{ .BasePath }}/admin/registry/create" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/plus.png" />
                <span>Створити новий</span>
            </a>
        </div>
        <div class="registry-description">Перелік реєстрів та їх статусів.</div>
        <div class="registry-table-wrap">
            <table class="registry-table">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Назва</th>
                        <th>Опис</th>
                        <th colspan="3">Час створення</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $key, $registry := .registries}}
                    <tr>
                        <td>
                            <img src="{{ $.BasePath }}/static/img/status-ok.png" alt="status ok" />
                        </td>
                        <td>
                            <a href="{{ $.BasePath }}/admin/registry/view/{{$registry.Name}}">{{$registry.Name}}</a>
                        </td>
                        <td>
                            {{$registry.Description}}
                        </td>
                        <td>
                            {{$registry.FormattedCreatedAt}}
                        </td>
                        <td>
                            <a href="{{ $.BasePath }}/admin/registry/edit/{{$registry.Name}}">
                                <img src="{{ $.BasePath }}/static/img/action-edit.png" alt="edit registry" />
                            </a>
                        </td>
                        <td>
                            <a href="#" class="delete-registry" data-id="{{$registry.ID}}"
                               data-name="{{$registry.Name}}">
                                <img src="{{ $.BasePath }}/static/img/action-delete.png" alt="delete registry" />
                            </a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup-backdrop"></div>
    <div class="popup-window">
        <div class="popup-header">
            <p>Видалити "<span id="delete-name">business-pro</span>"?</p>
            <a href="#" class="popup-close">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <form id="delete-form" method="post" action="">
            <input type="hidden" name="_xsrf" value="{{ .xsrfdata }}" />
            <div class="popup-body">
                <p>Щоб уникнути випадкової втрати даних, введіть назву реєстру перш,
                    ніж ви зможете його видалити.</p>

                <div class="rc-form-group">
                    <input aria-label="registry name" type="text" id="registry-name" name="registry-name" required
                           placeholder="Назва реєстру" />
                </div>
            </div>
            <div class="popup-footer">
                <a href="#" id="delete-cancel">відмінити</a>
                <button value="submit" name="codebase-delete" type="submit">Видалити</button>
            </div>
        </form>
    </div>

        
{{ end }}

{{ define "js"}}
    <script type="text/javascript" src="{{.BasePath}}/static/js/registry.js"></script>
{{ end }}