{{ template "layout.html" . }}

{{ define "content" }}
<div class="registry">
    <div class="registry-header">
        <a href="{{ .BasePath }}/admin/registry/overview" class="registry-add">
            <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
            <span>НАЗАД</span>
        </a>
    </div>
    <div class="registry-header registry-header-view">
        <h1>Реєстр "{{.registry.Name}}"</h1>
        <a href="{{ .BasePath }}/admin/registry/edit/{{.registry.Name}}" class="registry-add">
            <img alt="add registry" src="{{ .BasePath }}/static/img/action-edit.png" />
            <span>Редагувати</span>
        </a>
    </div>
    <div class="registry-description">Перелік реєстрів та їх статусів.</div>

    <div class="rg-info-block">
        <div class="rg-info-block-header">
            <span>Загальна інформація</span>
            <img src="{{ .BasePath }}/static/img/action-toggle.png" alt="toggle block" />
        </div>
        <div class="rg-info-block-body">
            <div class="rg-info-line-horizontal">
                <span>Назва</span>
                <span>{{ .registry.Name }}</span>
            </div>
            <div class="rg-info-line-horizontal">
                <span>Опис</span>
                <span>{{ .registry.Description }}</span>
            </div>
            <div class="rg-info-line-horizontal">
                <span>Час створення</span>
                <span>{{ .registry.FormattedCreatedAt }}</span>
            </div>
        </div>
    </div>
    {{if .branches }}
    <div class="rg-info-block">
        <div class="rg-info-block-header">
            <span>Конфігурація</span>
            <img src="{{ .BasePath }}/static/img/action-toggle.png" alt="toggle block" />
        </div>
        <div class="rg-info-block-body">
            <table class="rg-info-table rg-info-table-config">
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>Конфігурація</th>
                    <th>VCS</th>
                    <th>CI</th>
                    <th>Версія</th>
                    <th>Номер збірки</th>
                    <th>Остання вдала збірка</th>
                </tr>
                </thead>
                <tbody>
                {{range $index, $br := .branches}}
                <tr>
                    <td>
                        <img alt="status" src="{{ $.BasePath }}/static/img/status-{{$br.Status}}.png" />
                    </td>
                    <td>
                        {{$br.Name}}
                    </td>
                    <td>
                        <a href="{{$br.VCSLink}}" target="_blank">
                            <img alt="vcs" src="{{ $.BasePath }}/static/img/action-link.png" />
                        </a>
                    </td>
                    <td>
                        <a href="{{$br.CICDLink}}" target="_blank">
                            <img alt="ci" src="{{ $.BasePath }}/static/img/action-link.png" />
                        </a>
                    </td>
                    <td>{{$br.Version}}</td>
                    <td>{{$br.Build}}</td>
                    <td>{{if $br.LastSuccessBuild}}{{$br.LastSuccessBuild}}{{else}}-{{end}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{end}}
    {{if .actionLog}}
    <div class="rg-info-block">
        <div class="rg-info-block-header">
            <span>Журнал подій</span>
            <img src="{{ .BasePath }}/static/img/action-toggle.png" alt="toggle block" />
        </div>
        <div class="rg-info-block-body">
            <table class="rg-info-table rg-info-table-config">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Користувач</th>
                    <th>Дія</th>
                    <th>Результат</th>
                    <th>Повідомлення</th>
                </tr>
                </thead>
                <tbody>
                {{range $index, $al := .registry.ActionLog}}
                <tr>
                    <td>{{$al.FormattedLastTimeUpdate}}</td>
                    <td>{{$al.UserName}}</td>
                    <td>{{$al.Action}}</td>
                    <td>{{$al.Result}}</td>
                    <td>{{$al.Message}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{end}}

    <div class="dashboard-panel registry-dashboard-panel">
        <ul>
            <li>
                <img src="{{.BasePath}}/static/img/gerrit-logo.png" alt="gerrit logo" />
                <div class="dashboard-item-content">
                    <a href="{{.GerritLink}}">Gerrit <img src="{{.BasePath}}/static/img/action-link.png" alt="gerrit link"></a>
                </div>
            </li>
            <li>
                <img src="{{.BasePath}}/static/img/jenkins-logo.png" alt="jenkins logo" />
                <div class="dashboard-item-content">
                    <a href="{{.JenkinsLink}}">Jenkins <img src="{{.BasePath}}/static/img/action-link.png" alt="gerrit link"></a>
                </div>
            </li>
        </ul>
    </div>
</div>

{{ end }}