<!DOCTYPE html>
<html lang="en">
<head>
    {{template "template/head.html" .}}
    {{ block "css" . }}{{ end }}
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">
            {{ block "content" . }}{{ end }}
        </div>
    </section>
    {{template "template/footer_template.html" .}}
</main>
<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
{{ block "js" . }}{{ end }}
</body>
</html>