{{ define "cidr-block" }}
    <h3>Перелік дозволених CIDR</h3>
    <hr />
    <p>Ці налаштування є необов’язковими.</p>
    <div class="rc-form-group">
        <label for="admins">CIDR для портала чиновника</label>
        <input type="hidden" id="officer-cidr" name="officer-cidr" v-model="officerCIDRValue" />
        <div class="advanced-admins">
            <div v-cloak v-for="c in officerCIDR" class="child-admin">
                [[ c ]]
                <a @click="deleteCIDR" :tp="officer" :cidr="c" href="#">
                    <img src="/static/img/action-delete.png" />
                </a>
            </div>
            <button type="button" @click="showCIDRForm(officerCIDR, officerCIDRValue)">+</button>
        </div>
    </div>

    <div class="rc-form-group">
        <label for="admins">CIDR для портала громадянина</label>
        <input type="hidden" id="citizen-cidr" name="officer-cidr" v-model="citizenCIDRValue" />
        <div class="advanced-admins">
            <div v-cloak v-for="c in citizenCIDR" class="child-admin">
                [[ c ]]
                <a @click="deleteCIDR" :tp="citizen" :cidr="c" href="#">
                    <img src="/static/img/action-delete.png" />
                </a>
            </div>
            <button type="button" @click="showCIDRForm(citizenCIDR, citizenCIDRValue)">+</button>
        </div>
    </div>

    <div class="rc-form-group">
        <label for="admins">CIDR для адміністративних компонент</label>
        <input type="hidden" id="admin-cidr" name="admin-cidr" v-model="adminCIDRValue" />
        <div class="advanced-admins">
            <div v-cloak v-for="c in adminCIDR" class="child-admin">
                [[ c ]]
                <a @click="deleteCIDR" :tp="admin" :cidr="c" href="#">
                    <img src="/static/img/action-delete.png" />
                </a>
            </div>
            <button type="button" @click="showCIDRForm(adminCIDR, adminCIDRValue)">+</button>
        </div>
    </div>


    <div class="popup-window admin-window visible" v-cloak v-if="cidrPopupShow">
        <div class="popup-header">
            <p>Додати CIDR</p>
            <a href="#" @click="hideCIDRForm" class="popup-close hide-popup">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <form @submit="createAdmin" id="admin-form" method="post" action="">
            <div class="popup-body">
                <p class="popup-error" v-cloak v-if="requiredError">Всі поля обов'язкові для заповнення</p>
                <p class="popup-error" v-cloak v-if="emailFormatError">Невірний формат електронной пошти</p>
                <p class="popup-error" v-cloak v-if="usernameFormatError">Невірний формат ім'я користувача</p>

                <div class="rc-form-group">
                    <input aria-label="admin first name" type="text"
                           placeholder="Ім'я" v-model="editAdmin.firstName" />
                </div>
                <div class="rc-form-group">
                    <input aria-label="admin last name" type="text"
                           placeholder="Прізвище" v-model="editAdmin.lastName" />
                </div>
                <div class="rc-form-group">
                    <input aria-label="email" type="email"
                           placeholder="Електронна пошта" v-model="editAdmin.email" />
                </div>
                <div class="rc-form-group">
                    <input aria-label="password" type="password" v-model="editAdmin.tmpPassword"
                           placeholder="Тимчасовий пароль" />
                </div>
            </div>
            <div class="popup-footer active">
                <a href="#" id="admin-cancel" class="hide-popup" @click="hideAdminForm">відмінити</a>
                <button value="submit" name="admin-apply" @click="createAdmin" type="submit">Підтвердити</button>
            </div>
        </form>
    </div>
{{ end }}