{{ define "registry/create.html" }}
    {{template "header" .}}
    <div class="registry registry-create">
        <div class="registry-header">
            <a href="{{ .BasePath }}/admin/registry/overview" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
                <span>НАЗАД</span>
            </a>
        </div>
        <h1>Створити новий реєстр</h1>
        <div class="registry-description">Щоб створити реєстр, вкажіть його назву та додайте опис.</div>

        <form id="create-form" class="registry-create-form" method="post" enctype="multipart/form-data" action="">
            {{ if .error }}
            <div class="rc-global-error">{{.error}}</div>
            {{ end }}

            <div class="rc-title">
                Увага! Назва повинна бути унікальною і її неможливо буде змінити після створення реєстру!
            </div>
            <div class="rc-form-group {{ if .errorsMap.Name }}error{{end}}">
                <label for="name">Назва реєстру</label>
                <input type="text" id="name" name="name" maxlength="12" required
                       pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?([a-z0-9]([-a-z0-9]*[a-z0-9])?)*$"
                       value="{{.model.Name}}" />
                <span>
                    {{range $key, $val := .errorsMap.Name}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
                </span>
                <p>Допустимі символи: "a-z", "-". Назва не може перевищувати довжину у 12 символів.</p>
            </div>
            <div class="rc-form-group {{ if .errorsMap.Admins }}error{{end}}">
                <label for="admins">Адміністратори</label>
                <input type="text" id="admins" name="admins" required pattern="^[a-zA-Z0-9@._\-,]+$"
                       value="{{.model.Admins}}" />
                <span>
                    {{range $key, $val := .errorsMap.Admins}}
                        {{ i18n $val.Tag $val.Param  }}
                    {{end}}
                </span>
                <p>Допустимі символи: "0-9", "a-z", "_", "-", "@", ".", ",".</p>
            </div>
            <div class="rc-form-group {{ if .errorsMap.Description }}error{{end}}">
                <label for="description">Опис</label>
                <textarea rows="3" name="description" id="description" maxlength="250">{{.model.Description}}</textarea>
                <span>{{range $key, $val := .errorsMap.Description}}{{ $val }}{{end}}</span>
                <p>Опис може містити офіційну назву реєстру чи його призначення.</p>
            </div>
            <h3>Дані про ключ</h3>
            <hr />
            <div class="rc-form-group {{ if .errorsMap.Key6 }}error{{end}}">
                <label for="key6">Файловий ключ (розширення .dat)</label>
                <input required type="file" name="key6" id="key6" accept=".dat" />
                <span>
                    {{range $key, $val := .errorsMap.Key6}}
                        {{ i18n $val.Tag $val.Param  }}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.SignKeyIssuer }}error{{end}}">
                <label for="sign-key-issuer">АЦСК, що видав ключ</label>
                <input type="text" id="sign-key-issuer" name="sign-key-issuer" required value="{{.model.SignKeyIssuer}}" />
                <span>
                    {{range $key, $val := .errorsMap.SignKeyIssuer}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.SignKeyPwd }}error{{end}}">
                <label for="sign-key-pwd">Пароль до файлового ключа</label>
                <input required type="password" id="sign-key-pwd" name="sign-key-pwd" value="{{.model.SignKeyPwd}}" />
                <span>
                    {{range $key, $val := .errorsMap.SignKeyPwd}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
                </span>
            </div>
            <h3>Дані для перевірки ключа</h3>
            <hr />
            <div class="rc-form-group {{ if .errorsMap.CACertificate }}error{{end}}">
                <label for="ca-cert">Публічні сертифікати АЦСК (розширення .p7b)</label>
                <input required type="file" name="ca-cert" id="ca-cert" accept=".p7b" />
                <span>
                    {{range $key, $val := .errorsMap.CACertificate}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.CAsJSON }}error{{end}}">
                <label for="ca-json">Список АЦСК (розширення .json)</label>
                <input required type="file" name="ca-json" id="ca-json" accept=".json" />
                <span>
                    {{range $key, $val := .errorsMap.CAsJSON}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group">
                <button type="submit" name="submit">Підтвердити</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function (){

            $("#create-form").submit(function () {
                let registryNameInput = $("#name");
                if (registryNameInput.val().length < 3) {
                    registryNameInput.change();
                    return false;
                }
            });

            $("input").on('change invalid', function(){
                let input = $(this).get(0);
                input.setCustomValidity('');
                let inputName = $(input).attr("name");

                if (inputName === "name" && $(input).val().length < 3) {
                    input.setAttribute("isvalid", "true")
                    input.setCustomValidity('Будь-ласка вкажіть назву у відповідному форматі');
                }

                if (!input.validity.valid) {
                    input.scrollIntoView();

                    let errorMessages = {
                        'name':   'Будь-ласка вкажіть назву у відповідному форматі',
                        'key6': 'Будь-ласка оберіть файловий ключ',
                        'sign-key-issuer': 'Будь-ласка вкажіть АЦСК, що видав ключ',
                        'sign-key-pwd': 'Будь-ласка вкажіть пароль до файлового ключа',
                        'ca-cert': 'Будь-ласка оберіть публічні сертифікати АЦСК',
                        'ca-json': 'Будь-ласка оберіть список АЦСК',
                        'admins': 'Будь-ласка вкажіть адміністраторів у відповідному форматі',
                    };
                    let errorMessage = errorMessages[inputName];
                    if (errorMessage) {
                        console.log(errorMessage);
                        input.setCustomValidity(errorMessage);
                    }
                }
            });
        });
    </script>
    {{template "footer" .}}

{{ end }}