{{ define "delete-block" }}
<div class="popup-backdrop"></div>
<div id="delete-popup" class="popup-window">
    <div class="popup-header">
        <p>{{ i18n "domains.registry.modals.delete.title" }} "<span id="delete-name">business-pro</span>"?</p>
        <a href="#" class="popup-close hide-popup">
            <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
        </a>
    </div>
    <form id="delete-form" method="post" action="">
        <input type="hidden" name="_xsrf" value="{{ .xsrfdata }}" />
        <div class="popup-body">
            {{if eq .page "registry"}}
            <p>{{ i18n "domains.registry.modals.delete.text.deleteOneInfo" }}</p>
            {{end}}
            {{if eq .page "group"}}
                <p>{{ i18n "domains.registry.modals.delete.text.deleteGroupInfo" }}</p>
            {{end}}

            <div class="rc-form-group">
                <input aria-label="registry name" type="text" id="registry-name" name="registry-name" required
                        {{if eq .page "registry"}}
                       placeholder="{{ i18n "domains.registry.modals.delete.fields.registry.placeholder" }}"
                           {{end}}
                        {{if eq .page "group"}}
                            placeholder="{{ i18n "domains.registry.modals.delete.fields.group.placeholder" }}"
                        {{end}}
                       autocomplete="off" />
            </div>
        </div>
        <div class="popup-footer">
            <a href="#" id="delete-cancel" class="hide-popup">{{ i18n "domains.registry.modals.delete.actions.cancel" }}</a>
            <button value="submit" name="codebase-delete" type="submit">{{ i18n "domains.registry.modals.delete.actions.submit" }}</button>
        </div>
    </form>
</div>
{{end}}
