{{ define "reg-dns" }}
    <h2>Налаштування DNS</h2>

    <div class="rc-form-group show-errors-span dns-inputs">
        <label for="officer-dns">Налаштування DNS для кабінету чиновника</label>
        <div class="toggle-switch">
            <input @change="wizardDNSEditVisibleChange('officer', $event)" v-model="wizard.tabs.dns.editVisible.officer"
                   class="switch-input" type="checkbox"
                   id="officer-switch-input" name="officer-dns-enabled" />
            <label for="officer-switch-input">Toggle</label>
            <span style="color: #000000;">Використати власні значення</span>
        </div>

        <input :class="{'error': wizard.tabs.dns.formatError.officer}" v-show="wizard.tabs.dns.editVisible.officer"
                pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)+([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$"
                type="text" name="officer-dns" id="officer-dns" v-model="wizard.tabs.dns.data.officer"
               :placeholder="wizard.tabs.dns.preloadValues.officer" />
        <span v-if="wizard.tabs.dns.formatError.officer">Невірний формат</span>
        <label v-show="wizard.tabs.dns.editVisible.officer" for="">SSL-сертифікат для кабінету чиновника (розширення .pem)</label>
        <input v-show="wizard.tabs.dns.editVisible.officer" ref="officerSSL" id="officer-ssl" name="officer-ssl" type="file"
               :class="{'error': wizard.tabs.dns.requiredError.officer || wizard.tabs.dns.typeError.officer}"
            @change="wizard.tabs.dns.requiredError.officer = false;"/>
        <span v-if="wizard.tabs.dns.requiredError.officer">Обов’язкове поле</span>
        <span v-if="wizard.tabs.dns.typeError.officer">Невірний тип файлу</span>
    </div>

    <div class="rc-form-group show-errors-span dns-inputs">
        <label for="citizen-dns">Налаштування DNS для кабінету громадянина</label>

        <div class="toggle-switch">
            <input @change="wizardDNSEditVisibleChange('citizen', $event)" v-model="wizard.tabs.dns.editVisible.citizen"
                   class="switch-input" type="checkbox"
                   id="citizen-switch-input" name="citizen-dns-enabled" />
            <label for="citizen-switch-input">Toggle</label>
            <span style="color: #000000;">Використати власні значення</span>
        </div>

        <input :class="{'error': wizard.tabs.dns.formatError.citizen }" v-show="wizard.tabs.dns.editVisible.citizen"
                pattern="^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)+([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$"
                type="text" name="citizen-dns" id="citizen-dns" v-model="wizard.tabs.dns.data.citizen"
               :placeholder="wizard.tabs.dns.preloadValues.citizen" />
        <span v-if="wizard.tabs.dns.formatError.citizen">Невірний формат</span>
        <label v-show="wizard.tabs.dns.editVisible.citizen" for="">SSL-сертифікат для кабінету громадянина (розширення .pem)</label>
        <input v-show="wizard.tabs.dns.editVisible.citizen" ref="citizenSSL" id="citizen-ssl" name="citizen-ssl" type="file"
               :class="{'error': wizard.tabs.dns.requiredError.citizen || wizard.tabs.dns.typeError.citizen}"
            @change="wizard.tabs.dns.requiredError.citizen = false;"/>
        <span v-if="wizard.tabs.dns.requiredError.citizen">Обов’язкове поле</span>
        <span v-if="wizard.tabs.dns.typeError.citizen">Невірний тип файлу</span>
    </div>

    <div class="yellow-banner">
        <div class="banner-title">
            Увага!
        </div>
        <div class="banner-body">
            Необхідно виконати додаткову зовнішню конфігурацію за межами OpenShift кластеру та реєстру.
            {{ if .dnsManual }}
            Інструкція доступна <a target="_blank" href="{{.dnsManual}}">за посиланням</a>.
            {{end}}
        </div>
    </div>
{{end}}