{{ define "registry/edit-mr-exists.html" }}
    {{template "header" .}}
    <div class="registry registry-create" id="registry-form">
        <div class="registry-header">
            {{if .registryName}}
            <a href="{{ .BasePath }}/admin/registry/view/{{.registryName}}" onclick="window.history.back();" class="registry-add">
            {{else}}
                <a href="/admin/cluster/management" onclick="window.history.back();" class="registry-add">
            {{end}}
                <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
                <span style="text-transform: uppercase;">{{ i18n "components.layout.actions.back" }}</span>
            </a>
        </div>

        {{if .registryName}}
        <h1>{{ i18n "pages.editRegistryMRExist.text.registryTitle" }} "{{.registryName}}"</h1>
        <div class="registry-description error">{{ i18n "pages.editRegistryMRExist.text.registryMR" }}</div>
        {{else}}
            <h1>{{ i18n "pages.editRegistryMRExist.text.platformTitle" }}</h1>
            <div class="registry-description error">{{ i18n "pages.editRegistryMRExist.text.platformMR" }}</div>
        {{end}}
    </div>
{{ end }}
