{{ define "registry/edit-mr-exists.html" }}
    {{template "header" .}}
    <div class="registry registry-create" id="registry-form">
        <div class="registry-header">
            <a href="{{ .BasePath }}/admin/registry/view/{{.registryName}}" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
                <span>НАЗАД</span>
            </a>
        </div>

        <h1>Редагувати реєстр "{{.registryName}}"</h1>
        <div class="registry-description error">Реєстр має не підтверджені запити на оновлення.</div>
    </div>
{{ end }}