{{ define "registry/edit.html" }}
    {{template "header" .}}
    <div class="registry registry-create">
        <div class="registry-header">
            <a href="{{ .BasePath }}/admin/registry/overview" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
                <span>НАЗАД</span>
            </a>
        </div>
        <h1>Редагувати реєстр "{{.registry.Name}}"</h1>
        <div class="registry-description">Можлива зміна опису реєстру. Змінити назву неможливо.</div>

        <form class="registry-create-form" method="post" action="" enctype="multipart/form-data">
            <input type="hidden" name="_xsrf" value="{{ .xsrfdata }}" />
            <div class="rc-form-group">
                <label for="description">Опис</label>
                <textarea rows="3" name="description" id="description" maxlength="250">{{ .registry.Description }}</textarea>
                <span>{{range $key, $val := .errorsMap.Description}}{{ $val }}{{end}}</span>
                <p>Опис може містити офіційну назву реєстру чи його призначення.</p>
            </div>
            <div class="rc-form-group {{ if .errorsMap.Admins }}error{{end}}">
                <label for="admins">Адміністратори</label>
                <input type="text" id="admins" name="admins" required pattern="^[a-zA-Z0-9@._\-,]+$"
                       value="{{.registry.Admins}}" />
                <span>
                    {{range $key, $val := .errorsMap.Admins}}
                        {{ $val.Error | i18n }}
                    {{end}}
                </span>
                <p>Допустимі символи: "0-9", "a-z", "_", "-", "@", ".", ",".</p>
            </div>

            {{ if .hasUpdate }}
            <div class="rc-form-group {{ if .errorsMap.UpdateBranch }}error{{end}}">
                <label for="registry-update-branch">Оновити реєстр</label>
                <select required name="registry-update-branch" id="registry-update-branch">
                    <option></option>
                    {{range $key, $val := .updateBranches}}
                        <option>{{$val}}</option>
                    {{end}}
                </select>
                <span>{{range $key, $val := .errorsMap.UpdateBranch}}{{ $val }}{{end}}</span>
            </div>
            {{ end }}

            <div>
                <input type="checkbox" id="edit-key">
                <label for="edit-key">Редагувати дані про ключ</label>
            </div>

            <div id="key-block" style="display: none;margin-bottom: 10px;">
                {{ template "key-form" . }}
            </div>
            <div class="rc-form-group">
                <button type="submit" name="submit">Підтвердити</button>
            </div>
        </form>
    </div>
    <script src="{{ .BasePath }}/static/js/mustache.js"></script>
    <script id="ini-template" type="x-tmpl-mustache">
        {{ .hwINITemplateContent }}
    </script>
    <script id="allowed-keys-template" type="x-tmpl-mustache">
        <div class="allowed-keys-row">
            <input name="allowed-keys-issuer[]" class="allowed-keys-input allowed-keys-issuer" required aria-label="key issuer" placeholder="Емітент ключа" type="text" />
            <input name="allowed-keys-serial[]" class="allowed-keys-input allowed-keys-serial" required aria-label="key serial" placeholder="Серійний номер ключа" type="text" />
            <button class="allowed-keys-remove-btn">-</button>
        </div>
    </script>
    <script type="text/javascript">
        let editKeyChecked = function(){
            let checked = $("#edit-key").prop('checked'),
                keyBlock = $("#key-block");
            keyBlock.find("input").prop('disabled', !checked);

            if (checked) {
                keyBlock.show();
                $("#key-device-type").change();
            } else {
                keyBlock.hide();
            }


        };

        $(function () {
            let editKey = $("#edit-key");

            editKey.change(editKeyChecked);
            editKey.prop("checked", false);
            editKeyChecked();
        });

    </script>
    <script type="text/javascript" src="{{ .BasePath }}/static/js/registry-form.js"></script>
    {{template "footer" .}}
{{ end }}