{{ define "registry-external-system" }}
    <div id="external-system-popup" class="popup-window admin-window visible scrollable-popup" v-cloak v-if="externalSystem.formShow">
        <div class="popup-header">
            <p v-if="!externalSystem.registryNameEditable">Налаштувати зовнішню систему для взаємодії</p>
            <p v-if="externalSystem.registryNameEditable">Додати зовнішню систему для взаємодії</p>
            <a href="#" @click="hideExternalSystemForm" class="popup-close hide-popup">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <p class="title-description" v-if="externalSystem.registryNameEditable">
            Ви можете налаштувати інтеграцію з зовнішньою системою для подальшої взаємодії згідно регламенту реєстру.
            Мережеві політики доступу будуть створені автоматично.
        </p>
        <div class="view-registry-warning">
            Налаштування взаємодії доступне для версій реєстру 1.9.3 і вище.
        </div>
        <form @submit="setExternalSystemForm" id="external-system-form" method="post"
              :action="externalSystemFormAction()">
            <div class="popup-body">
                <div class="rc-form-group"
                     :class="{'error': (externalSystem.registryName == '' || externalSystem.registryNameExists) && externalSystem.startValidation}">
                    <label>Назва зовнішньої системи</label>
                    <input aria-label="" name="external-system-registry-name" type="text"
                           v-model="externalSystem.registryName"
                           :readonly = "!externalSystem.registryNameEditable" />
                    <span v-if="externalSystem.registryName == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                    <span v-if="externalSystem.registryNameExists">
                        Зовнішня система з таким ім'ям вже існує
                    </span>
                </div>

                <div class="rc-form-group"
                     :class="{'error': (externalSystem.data.url == '' || externalSystem.urlValidationFailed) && externalSystem.startValidation}">
                    <label>Адреса зовнішньої системи</label>
                    <input aria-label="" type="text" name="external-system-url" v-model="externalSystem.data.url" />
                    <p>URL, повинен починатись з http:// або https://</p>
                    <span v-if="externalSystem.data.url == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                    <span v-if="externalSystem.urlValidationFailed && externalSystem.startValidation">Невірний формат</span>

                </div>

                <div class="rc-form-group"
                     :class="{'error': externalSystem.data.protocol == '' && externalSystem.startValidation}">
                    <label>Протокол інтеграції</label>
                    <input aria-label="" type="text" name="external-system-protocol"
                           v-model="externalSystem.data.protocol" readonly />
                    <span v-if="externalSystem.data.protocol == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                    <p>Наразі підтримується лише REST-протокол інтеграції.</p>
                </div>

                <div class="rc-form-group">
                    <label>Вкажіть тип автентифікації</label>
                    <select aria-label="" name="external-system-auth-type"
                            v-model="externalSystem.data.auth.type"
                            @change="changeExternalSystemAuthType">
                        <option v-if="externalSystem.registryName != 'diia'">NO_AUTH</option>
                        <option v-if="externalSystem.registryName != 'diia'">AUTH_TOKEN</option>
                        <option v-if="externalSystem.registryName != 'diia'">BEARER</option>
                        <option v-if="externalSystem.registryName != 'diia'">BASIC</option>

                        <option>AUTH_TOKEN+BEARER</option>
                    </select>
                    <p>Наразі підтримуються:
                        <template v-if="externalSystem.registryName != 'diia'">NO_AUTH, AUTH_TOKEN, BEARER, BASIC,</template>
                        AUTH_TOKEN+BEARER</p>
                </div>

                <div class="auth-token-bearer" v-if="externalSystem.data.auth.type == 'AUTH_TOKEN+BEARER'">
                    <div class="rc-form-group"
                         :class="{'error': externalSystem.data.auth['auth-url'] == '' && externalSystem.startValidation}">
                        <label>Вкажіть енд-поінт автентифікації партнера</label>
                        <input aria-label="" type="text" name="external-system-auth-url"
                               v-model="externalSystem.data.auth['auth-url']" />
                        <p>Вказується абсолютна адреса (https://example.ua/auth) або relative path відносно адреси,
                            вказаної в полі Адреса зовнішньої системи (/auth)</p>
                        <span v-if="externalSystem.data.auth['auth-url'] == '' && externalSystem.startValidation">
                        Обов’язкове поле
                        </span>
                    </div>

                    <div class="rc-form-group"
                         :class="{'error': externalSystem.data.auth['access-token-json-path'] == '' && externalSystem.startValidation}">
                        <label>Вкажіть json-path для отримання токена доступу</label>
                        <input aria-label="" type="text" name="external-system-auth-access-token-json-path"
                               v-model="externalSystem.data.auth['access-token-json-path']" />
                        <span v-if="externalSystem.data.auth['access-token-json-path'] == '' && externalSystem.startValidation">
                        Обов’язкове поле
                        </span>
                    </div>

                </div>

                <div class="rc-form-group"
                     v-if="externalSystem.data.auth.type == 'AUTH_TOKEN' || externalSystem.data.auth.type == 'BEARER' || externalSystem.data.auth.type == 'AUTH_TOKEN+BEARER'"
                     :class="{'error': externalSystem.data.auth.secret == '' && externalSystem.startValidation}">
                    <label>Вкажіть токен авторизації</label>
                    <input aria-label="" name="external-system-auth-secret"
                           v-model="externalSystem.data.auth.secret"
                           :type="externalSystem.secretInputTypes.secret"
                           @focus="externalSystemSecretFocus('secret')" />
                    <span v-if="externalSystem.data.auth.secret == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                </div>

                <div v-if="externalSystem.data.auth.type == 'BASIC'">
                    <div class="rc-form-group"
                         :class="{'error': externalSystem.data.auth.username == '' && externalSystem.startValidation}">
                        <label>Логін</label>
                        <input aria-label="" name="external-system-auth-username"
                               @focus="externalSystemSecretFocus('username')"
                               v-model="externalSystem.data.auth.username"
                               :type="externalSystem.secretInputTypes.username" />
                        <span v-if="externalSystem.data.auth.username == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                    </div>

                    <div class="rc-form-group"
                         :class="{'error': externalSystem.data.auth.secret == '' && externalSystem.startValidation}">
                        <label>Пароль</label>
                        <input aria-label="" name="external-system-auth-secret"
                               v-model="externalSystem.data.auth.secret"
                               :type="externalSystem.secretInputTypes.secret"
                               @focus="externalSystemSecretFocus('secret')" />
                        <span v-if="externalSystem.data.auth.secret == '' && externalSystem.startValidation">
                        Обов’язкове поле
                    </span>
                    </div>
                </div>
            </div>
            <div class="popup-footer active">
                <a href="#" id="admin-cancel" class="hide-popup" @click="hideExternalSystemForm">відмінити</a>
                <button class="submit-green" value="submit" name="admin-apply" type="submit">
                    <span v-if="!externalSystem.registryNameEditable">Підтвердити</span>
                    <span v-if="externalSystem.registryNameEditable">Додати</span>
                </button>
            </div>
        </form>
    </div>


    <div class="popup-window admin-window visible" v-cloak v-if="externalSystem.deleteFormShow">
        <div class="popup-header">
            <p>Видалити "[[ externalSystem.registryName ]]"?</p>
            <a href="#" @click="hideDeleteExternalSystemForm" class="popup-close hide-popup">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <div class="popup-body">
            <p>Видалити усі налаштування інтеграції з системою?</p>
        </div>
        <div class="popup-footer active">
            <a href="#" id="admin-cancel" class="hide-popup" @click="hideDeleteExternalSystemForm">Відмінити</a>
            <a class="href-red" :href="deleteExternalSystemLink()">Видалити</a>
        </div>
    </div>
{{end}}