{{ define "registry/list.html" }}
    {{template "header" .}}
    <link rel="stylesheet" type="text/css" href="{{.BasePath}}/static/css/datatables.custom.css" />
    <div class="registry">
        <div class="registry-header">
            <h1>Реєстри</h1>
            {{if .allowedToCreate}}
            <a href="{{ .BasePath }}/admin/registry/create" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/plus.png" />
                <span>Створити новий</span>
            </a>
            {{end}}
        </div>
        <div class="registry-description">Перелік реєстрів та їх статусів.</div>
        <div class="registry-table-wrap">
            <table id="registry-table" class="registry-table row-border">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Назва</th>
                        <th>Опис</th>
                        <th>Час створення</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range $key, $registry := .registries}}
                    <tr {{if $registry.Codebase.ForegroundDeletion}}class="disabled"{{end}}>
                        <td>
                            {{if $registry.Codebase.ForegroundDeletion}}
                                <img src="{{ $.BasePath }}/static/img/action-delete.png" alt="delete registry" />
                            {{else}}
                                <img src="{{ $.BasePath }}/static/img/status-{{$registry.Codebase.StrStatus}}.png"
                                     alt="status {{$registry.Codebase.StrStatus}}" />
                            {{end}}
                        </td>
                        <td>
                            {{if $registry.Codebase.ForegroundDeletion}}
                                {{$registry.Codebase.Name}}
                            {{else}}
                                <a href="{{ $.BasePath }}/admin/registry/view/{{$registry.Codebase.Name}}">
                                    {{$registry.Codebase.Name}}
                                </a>
                            {{end}}
                        </td>
                        <td>
                            {{$registry.Codebase.Description}}
                        </td>
                        <td>
                            {{ $registry.Codebase.FormattedCreatedAtTimezone $.timezone }}
                        </td>
                        <td>
                            {{if $registry.CanUpdate}}
                            {{if not $registry.Codebase.ForegroundDeletion}}
                            <a href="{{ $.BasePath }}/admin/registry/edit/{{$registry.Codebase.Name}}">
                                <img src="{{ $.BasePath }}/static/img/action-edit.png" alt="edit registry" />
                            </a>
                            {{end}}
                            {{end}}
                        </td>
                        <td>
                            {{if $registry.CanDelete}}
                            {{if $registry.Codebase.CanBeDeleted}}
                            {{if not $registry.Codebase.ForegroundDeletion}}
                            <a href="#" class="delete-registry"
                               data-name="{{$registry.Codebase.Name}}">
                                <img src="{{ $.BasePath }}/static/img/action-delete.png" alt="delete registry" />
                            </a>
                            {{end}}
                            {{end}}
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    {{template "delete-block" .}}

    <script type="text/javascript" src="{{.BasePath}}/static/js/datatables.min.js"></script>
    <script type="text/javascript" src="{{.BasePath}}/static/js/registry.js"></script>
    {{template "footer" .}}
        
{{ end }}

