{{ define "reg-smtp" }}
    <h3>Вибір поштового серверу</h3>
    <hr />
    <div class="rc-form-group {{ if .errorsMap.MailServerType }}error{{end}}">
        <label for="smtp-server-type">Поштовий сервер</label>
        <input type="hidden" ref="smtpServerTypeSelected" value="{{ .model.MailServerType }}" />
        <input type="hidden" ref="smtpEditConfig" value="{{ .smtpConfig }}" />
        <select v-model="smtpServerType" id="smtp-server-type" name="smtp-server-type">
            <option value="platform-mail-server">Платформенний поштовий сервер</option>
            <option value="external-mail-server">Зовнішній поштовий сервер</option>
        </select>
        <span>
            {{range $key, $val := .errorsMap.MailServerType}}
                {{ i18n $val.Tag $val.Param  }}
            {{end}}
        </span>
    </div>
    <hr />
    <div v-cloak v-if="smtpServerType == 'platform-mail-server'">
        <h3>Налаштування підключення до платформенного поштового серверу</h3>
        <hr />
        <div class="rc-form-group {{ if .errorsMap.MailServerOpts }}error{{end}}">
            <label for="ms-opts">Поштова адреса реєстру</label>
            <input readonly type="text" id="ms-opts" name="mail-server-opts"
                   value="<registry_name>@<registry.platform-domain>" />
        </div>
    </div>
    <div v-cloak v-if="smtpServerType == 'external-mail-server'">
        <h3>Налаштування SMTP-підключення до зовнішнього поштового серверу</h3>
        <hr />
        <input type="hidden" name="mail-server-opts" :value="mailServerOpts" />
        <div class="rc-form-group">
            <label for="smtp-host">Хост</label>
            <input v-model="externalSMTPOpts.host" required id="smtp-host" />
        </div>
        <div class="rc-form-group">
            <label for="smtp-port">Порт</label>
            <input required id="smtp-port" v-model="externalSMTPOpts.port" />
        </div>
        <div class="rc-form-group">
            <label for="smtp-address">Поштова адреса</label>
            <input required id="smtp-address" v-model="externalSMTPOpts.address" />
        </div>
        <div class="rc-form-group">
            <label for="smtp-password">Пароль</label>
            <input type="password" required id="smtp-password" v-model="externalSMTPOpts.password" />
        </div>
    </div>
    <br />

{{ end }}