{{ define "trembita-client" }}
    <h2>Налаштування реєстру у якості клієнта Трембіти</h2>
    <div class="rc-title">
        Ці налаштування потрібні лише в тому випадку, якщо реєстр є клієнтом ШБО "Трембіта".
        Необхідні значення можна отримати від представників ШБО "Трембіта".
    </div>
    <div class="toggle-switch">
        <input @change="wizardTrembitaEnabledChange" v-model="wizard.tabs.trembitaClient.enabled" class="switch-input" type="checkbox"
               id="trembita-switch-input"  name="trembita-client-enabled" />
        <label for="trembita-switch-input">Toggle</label>
        <span>Налаштувати клієнт ШБО "Трембіта"</span>
    </div>
    <div v-show="wizard.tabs.trembitaClient.enabled" class="trembita-client-settings">
        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.id == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-id">Ідентифікатор клієнту</label>
            <input type="text" id="trembita-client-id" name="trembita-client-id"
                   v-model="wizard.tabs.trembitaClient.data.id" />
            <span v-if="wizard.tabs.trembitaClient.data.id == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>

        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.protocolVersion == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-protocol-version">Версія протоколу</label>
            <input type="text" id="trembita-client-protocol-version" name="trembita-client-protocol-version"
                   v-model="wizard.tabs.trembitaClient.data.protocolVersion" />
            <span v-if="wizard.tabs.trembitaClient.data.protocolVersion == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>

        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.xRoadInstance == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-x-road-instance">X-Road Instance</label>
            <input type="text" id="trembita-client-x-road-instance" name="trembita-client-x-road-instance"
                   v-model="wizard.tabs.trembitaClient.data.xRoadInstance" />
            <span v-if="wizard.tabs.trembitaClient.data.xRoadInstance == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>

        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.memberClass == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-member-class">Member Class</label>
            <input type="text" id="trembita-client-member-class" name="trembita-client-member-class"
                   v-model="wizard.tabs.trembitaClient.data.memberClass" />
            <span v-if="wizard.tabs.trembitaClient.data.memberClass == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>

        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.memberCode == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-member-code">Member Code</label>
            <input type="text" id="trembita-client-member-code" name="trembita-client-member-code"
                   v-model="wizard.tabs.trembitaClient.data.memberCode" />
            <span v-if="wizard.tabs.trembitaClient.data.memberCode == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>

        <div class="rc-form-group"
             :class="{'error': wizard.tabs.trembitaClient.data.subsystemCode == '' && wizard.tabs.trembitaClient.beginValidation}">
            <label for="trembita-client-subsystem-code">Subsystem Code</label>
            <input type="text" id="trembita-client-subsystem-code" name="trembita-client-subsystem-code"
                   v-model="wizard.tabs.trembitaClient.data.subsystemCode" />
            <span v-if="wizard.tabs.trembitaClient.data.subsystemCode == '' && wizard.tabs.trembitaClient.beginValidation">
                Обов’язкове поле</span>
        </div>
    </div>
{{end}}