{{ define "registry/view.html" }}
    {{template "header" .}}
    <link rel="stylesheet" type="text/css" href="{{.BasePath}}/static/css/datatables.custom.css" />

    <div id="template-args" style="display: none;" data-args="{{ .templateArgs }}"></div>
    <div id="env-args" style="display: none;" data-args="{{ envVars }}"></div>
    <div id="app"></div>

    {{template "scripts" .}}
    <script type="text/javascript" src="{{ .BasePath }}/static/js/axios.min.js"></script>
    <script type="text/javascript" src="{{.BasePath}}/static/js/moment.min.js"></script>
    {{template "footer" .}}
{{ end }}
