
// Colors
$white-color: #FFFFFF;
$black-color: #000000;
$grey-border-color: #E1E3EB;
$error-color: #D35D47;
$success-color: #6DA300;
$shadow-window-color: rgba(34, 34, 34, 0.26);
$warning-box-color: #FFFBE6;
$disabled-text-color: rgba(0, 0, 0, 0.25);
$grey2: #464547;
$grey3: #CED0DB;
$grey6: #F2F2F2;
$blue-main: #008ACE;
$blue30:#B3DCF0;
$blue125:#00689B;

// Size
$wizard-width: 512px;