{{ define "scripts" }}
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.global.js"></script>
    <script type="text/javascript" src="/static/js/cron-schedule.iife.min.js.js"></script>
    <script type="module" src="/assets/index.js?v={{ .buildDate }}"></script>
    <script type="text/javascript">
        $(function(){
            $(document).tooltip();
        });
    </script>
{{ end }}