{{ define "administrators-block" }}
    <h2>Адміністратори платформи</h2>
    <form id="platform-admin" class="registry-create-form wizard-form" method="post" action="/admin/cluster/admins">
        <div class="rc-form-group">
            <label for="admins">Адміністратори</label>
            <input type="hidden" id="admins" name="admins" v-model="adminsValue" :admins="loadAdmins('{{ .admins }}')" />
            <div class="advanced-admins">
                <div v-cloak v-for="adm in admins" class="child-admin">
                    [[ adm.email ]]
                    <a @click="deleteAdmin" :email="adm.email" href="#">
                        <img src="/static/img/action-delete.png" />
                    </a>
                </div>
                <button type="button" @click="showAdminForm">+</button>
            </div>
            <span>
                {{range $key, $val := .errorsMap.Admins}}
                    {{ $val.Error | i18n }}
                {{end}}
            </span>
        </div>
        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>
{{ end }}