{{ define "backup-block" }}
    <h2>Розклад резервного копіювання</h2>
    <form id="backup-schedule-form" class="registry-create-form wizard-form" method="post"
          action="/admin/cluster/backup-schedule" @submit="clusterBackupValidate">
        <h3>Nexus</h3>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.scheduleError.nexus}">
            <label for="nexus-schedule">Розклад</label>
            <input type="text" name="nexus-schedule" id="nexus-schedule" placeholder="0 10 * * *"
                   v-model="clusterSettings.backup.schedule.nexus" />
            <span v-if="clusterSettings.backup.scheduleError.nexus">Невірний формат</span>
        </div>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.expiresError.nexus}">
            <label for="nexus-expires-in-days">Час зберігання в днях</label>
            <input type="text" id="nexus-expires-in-days" name="nexus-expires-in-days" placeholder="5"
                   v-model="clusterSettings.backup.expires.nexus"  />
            <span v-if="clusterSettings.backup.expiresError.nexus">Невірний формат</span>
        </div>

        <h3>Control Plane</h3>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.scheduleError.controlPlane}">
            <label for="control-plane-schedule">Розклад</label>
            <input type="text" name="control-plane-schedule" id="control-plane-schedule" placeholder="0 10 * * *"
                   v-model="clusterSettings.backup.schedule.controlPlane"  />
            <span v-if="clusterSettings.backup.scheduleError.controlPlane">Невірний формат</span>
        </div>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.expiresError.controlPlane}">
            <label for="control-plane-expires-in-days">Час зберігання в днях</label>
            <input type="text" id="control-plane-expires-in-days" name="control-plane-expires-in-days"
                placeholder="5" v-model="clusterSettings.backup.expires.controlPlane"  />
            <span v-if="clusterSettings.backup.expiresError.controlPlane">Невірний формат</span>
        </div>

        <h3>User Management</h3>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.scheduleError.userManagement}">
            <label for="user-management-schedule">Розклад</label>
            <input type="text" name="user-management-schedule" id="user-management-schedule" placeholder="0 10 * * *"
               v-model="clusterSettings.backup.schedule.userManagement" />
            <span v-if="clusterSettings.backup.scheduleError.userManagement">Невірний формат</span>
        </div>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.expiresError.userManagement}">
            <label for="user-management-expires-in-days">Час зберігання в днях</label>
            <input type="text" id="user-management-expires-in-days" name="user-management-expires-in-days"
                placeholder="5" v-model="clusterSettings.backup.expires.userManagement"  />
            <span v-if="clusterSettings.backup.expiresError.userManagement">Невірний формат</span>
        </div>

        <h3>Monitoring</h3>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.scheduleError.monitoring}">
            <label for="monitoring-schedule">Розклад</label>
            <input type="text" name="monitoring-schedule" id="monitoring-schedule" placeholder="0 10 * * *"
               v-model="clusterSettings.backup.schedule.monitoring"  />
            <span v-if="clusterSettings.backup.scheduleError.monitoring">Невірний формат</span>
        </div>
        <div class="rc-form-group" :class="{'error': clusterSettings.backup.expiresError.monitoring}">
            <label for="monitoring-expires-in-days">Час зберігання в днях</label>
            <input type="text" id="monitoring-expires-in-days" name="monitoring-expires-in-days"
                placeholder="5" v-model="clusterSettings.backup.expires.monitoring"  />
            <span v-if="clusterSettings.backup.expiresError.monitoring">Невірний формат</span>
        </div>

        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>
{{ end }}