{{ define "cluster-cidr-block" }}
    <h1>Перелік дозволених CIDR</h1>
    <input type="hidden" id="preload-cidr" ref="cidrEditConfig" value="{{ .cidrConfig }}" />
    <br />
    <form id="cluster-update-form" @submit="registryFormSubmit" class="registry-create-form" method="post" action="/admin/cluster/cidr">
        <div class="rc-form-group">
            <label for="admins">CIDR для адміністративних компонент</label>
            <input type="hidden" id="admin-cidr" name="admin-cidr" v-model="adminCIDRValue.value" />
            <div class="advanced-admins">
                <div v-cloak v-for="c in adminCIDR" class="child-admin">
                    [[ c ]]
                    <a @click="deleteCIDR(c, adminCIDR, adminCIDRValue, $event)" :tp="admin" :cidr="c" href="#">
                        <img src="/static/img/action-delete.png" />
                    </a>
                </div>
                <button type="button" @click="showCIDRForm(adminCIDR, adminCIDRValue)">+</button>
            </div>
        </div>

        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>


{{ end }}