{{ define "cluster/edit.html" }}
    {{template "header" .}}
    <div class="registry registry-create">
        <div class="registry-header">
            <a href="{{ .BasePath }}/admin/cluster/management" class="registry-add">
                <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
                <span>НАЗАД</span>
            </a>
        </div>
        <h1>Налаштування резервного копіювання</h1>
        <br />
        <form id="cluster-form" class="registry-create-form" method="post" action="">
            {{ if .error }}
                <div class="rc-global-error">{{.error}}</div>
            {{ end }}
            <input type="hidden" name="_xsrf" value="{{ .xsrfdata }}" />
            <div class="rc-form-group {{ if .errorsMap.StorageLocation }}error{{end}}">
                <label for="storage-location">Місце зберігання бекапу</label>
                <input type="text" id="storage-location" name="storage-location"
                       value="{{.backupConf.StorageLocation}}" required />
                <span>
                    {{range $key, $val := .errorsMap.StorageLocation}}
                        {{i18n "uk" $val.Error}}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.StorageType }}error{{end}}">
                <label for="storage-type">Тип сховища для бекапу</label>
                <input type="text" id="storage-type" name="storage-type"
                       value="{{.backupConf.StorageType}}" required />
                <span>
                    {{range $key, $val := .errorsMap.StorageType}}
                        {{i18n "uk" $val.Error}}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.StorageCredentialsKey }}error{{end}}">
                <label for="storage-credentials-key">Логін</label>
                <input type="text" id="storage-credentials-key" name="storage-credentials-key"
                       value="{{.backupConf.StorageCredentialsKey}}" required />
                <span>
                    {{range $key, $val := .errorsMap.StorageCredentialsKey}}
                        {{i18n "uk" $val.Error}}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group {{ if .errorsMap.StorageCredentialsSecret }}error{{end}}">
                <label for="storage-credentials-secret">Пароль</label>
                <input type="password" id="storage-credentials-secret" name="storage-credentials-secret"
                       value="{{.backupConf.StorageCredentialsSecret}}" required />
                <span>
                    {{range $key, $val := .errorsMap.StorageCredentialsSecret}}
                        {{i18n "uk" $val.Error}}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group">
                <button type="submit" name="submit">Підтвердити</button>
            </div>
        </form>

        {{if .hasUpdate}}
        <h1>Оновлення кластеру</h1>
        <br />
        <form id="cluster-update-form" class="registry-create-form" method="post" action="/admin/cluster/upgrade">
            <div class="rc-form-group {{ if .errorsMap.Branch }}error{{end}}">
                <label for="branch">Оновити кластер</label>
                <select id="branch" name="branch" required>
                    <option></option>
                    {{range $key, $val := .updateBranches}}
                        <option>{{$val}}</option>
                    {{end}}
                </select>

                <span>
                    {{range $key, $val := .errorsMap.Branch}}
                        {{i18n "uk" $val.Error}}
                    {{end}}
                </span>
            </div>
            <div class="rc-form-group">
                <button type="submit" name="submit">Підтвердити</button>
            </div>
        </form>
        {{end}}
    </div>

    <script type="text/javascript">
        $(function (){
            $("input").on('change invalid', function(){
                let input = $(this).get(0);
                input.setCustomValidity('');
                if (!input.validity.valid) {
                    input.scrollIntoView();
                    input.setCustomValidity('Не може бути порожнім');
                }
            });
        });
    </script>
    {{template "footer" .}}
{{ end }}