{{ define "cluster-keycloak-block" }}
    <h2>Keycloak DNS</h2>
    <br />
    <form @submit="submitKeycloakDNSForm" class="registry-create-form wizard-form cluster-keycloak" method="post" action="/admin/cluster/add-keycloak-dns">
        <p>Налаштування додаткових DNS імен для сервісу управління користувачами та ролями (Keycloak).
            Для додаткових DNS необхідно провести зовнішню конфігурацію записів у реєстранта доменних імен.</p>

        <div class="keycloak-dns-manual">
            <a href="#">Інструкція з зовнішньої конфігурації</a>
        </div>


        <div class="cluster-default-kc-dns-label">DNS за замовчуванням</div>
        <div class="cluster-default-kc-dns-value">{{ .keycloakHostname }}</div>

        <div v-for="h in clusterSettings.keycloak.hostnamesToAdd">
            <div class="cluster-default-kc-dns-label">Додатковий DNS</div>
            <div class="cluster-default-kc-dns-value">
                <span>[[ h.hostname ]]</span>
                <a href="#"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>

        <div v-for="h in clusterKeycloakDNSCustomHosts()">
            <div class="cluster-default-kc-dns-label">Додатковий DNS</div>
            <div class="cluster-default-kc-dns-value">
                <span>[[ h.host ]]</span>
                <div>
                    <a href="#" @click="editClusterKeycloakDNSHost(h.host, h.certificatePath, $event)"><i class="fa-solid fa-pen"></i></a>
                    <a href="#" @click="deleteClusterKeycloakDNS(h.host, $event)"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>

        <div class="add-kc-dns-block">
            <a href="#" @click="showClusterKeycloakDNSForm">
                <i class="fa-solid fa-plus"></i>
                <span>Додати DNS</span>
            </a>
        </div>

        <input type="hidden" name="hostnames" v-model="clusterSettings.keycloak.submitInput" />
        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>

    <div class="popup-backdrop visible" v-cloak v-if="backdropShow"></div>
    <div class="popup-window admin-window visible" v-cloak v-if="clusterSettings.keycloak.formShow">
        <div class="popup-header">
            <p>Додати DNS</p>
            <a href="#" @click="hideClusterKeycloakDNSForm" class="popup-close hide-popup">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <form @submit="addClusterKeycloakDNS" id="cluster-keycloak-dns-form" method="post" action="">
            <div class="popup-body">
                <div class="rc-form-group" :class="{'error':  clusterSettings.keycloak.hostnameError != ''}">
                    <label for="cluster-keycloak-dns-value">Доменне імʼя для keycloak</label>
                    <input id="cluster-keycloak-dns-value" maxlength="63" type="text" v-model="clusterSettings.keycloak.hostname"
                           :class="{'error':  clusterSettings.keycloak.hostnameError != ''}" />
                    <p>Назва не може перевищувати довжину у 63 символи. Допустимі символи “a-z”, “.”, “-”, “_”</p>
                    <span v-if="clusterSettings.keycloak.hostnameError != ''">[[ clusterSettings.keycloak.hostnameError ]]</span>
                </div>
                <div class="rc-form-group" :class="{'error':  clusterSettings.keycloak.pemError != ''}">
                    <label>SSL-сертифікат для keycloak (розширення .pem)</label>
                    <label v-show="!clusterSettings.keycloak.fileSelected" for="cluster-keycloak-dns-upload" class="rc-form-upload-block">
                            <i class="fa-solid fa-plus"></i>
                            <span>Завантажити SSL-сертифікат</span>
                    </label>
                    <div v-show="clusterSettings.keycloak.fileSelected" class="cluster-kc-dns-uploaded">
                        <div>
                            <i class="fa-solid fa-check"></i>
                            <span>Файл завантажено</span>
                        </div>
                        <a href="#" @click="resetClusterKeycloakDNSForm"><i class="fa-solid fa-trash"></i></a>
                    </div>
                    <span v-if="clusterSettings.keycloak.pemError != ''">[[ clusterSettings.keycloak.pemError ]]</span>
                    <input type="file" @change="clusterKeycloakDNSCertSelected" ref="clusterKeycloakDNS" id="cluster-keycloak-dns-upload"
                           style="display: none;" />
                </div>
            </div>
            <div class="popup-footer active">
                <a href="#" id="cidr-cancel" class="hide-popup" @click="hideClusterKeycloakDNSForm">відмінити</a>
                <button value="submit" name="cidr-apply" @click="addClusterKeycloakDNS" type="submit">Підтвердити</button>
            </div>
        </form>
    </div>

{{ end }}