{{ define "platform-update-block" }}
    <h2>Оновлення платформи</h2>
    <form id="cluster-update-form" class="registry-create-form" method="post" action="/admin/cluster/upgrade">
        <div class="rc-form-group {{ if .errorsMap.Branch }}error{{end}}">
            <label for="branch">Оновити платформу</label>
            <select id="branch" name="branch" required>
                <option></option>
                {{range $key, $val := .updateBranches}}
                    <option>{{$val}}</option>
                {{end}}
            </select>
            <span>
                {{range $key, $val := .errorsMap.Branch}}
                    {{i18n $val.Tag}}
                {{end}}
            </span>
        </div>
        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>
{{ end }}