{{ define "group/create.html" }}
{{template "header" .}}
<div class="registry registry-create">
    <div class="registry-header">
        <a href="{{ .BasePath }}/admin/group/overview" class="registry-add">
            <img alt="add registry" src="{{ .BasePath }}/static/img/action-back.png" />
            <span>НАЗАД</span>
        </a>
    </div>
    <h1>Створити нову групу</h1>
    <div class="registry-description">Щоб створити групу, вкажіть її назву та додайте опис.</div>

    <form id="create-form" class="registry-create-form" method="post" enctype="multipart/form-data" action="">
        {{ if .error }}
            <div class="rc-global-error">{{.error}}</div>
        {{ end }}

        <div class="rc-title">
            Увага! Назва повинна бути унікальною і її неможливо буде змінити після створення групи!
        </div>
        <div class="rc-form-group {{ if .errorsMap.Name }}error{{end}}">
            <label for="name">Назва групи</label>
            <input type="text" id="name" name="name" maxlength="12"
                   pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?([a-z0-9]([-a-z0-9]*[a-z0-9])?)*$"
                   value="{{.model.Name}}" />
            <span>
                    {{range $key, $val := .errorsMap.Name}}
                        {{ i18n $val.Tag $val.Param }}
                    {{end}}
            </span>
            <p>Допустимі символи: "a-z", "-". Назва не може перевищувати довжину у 12 символів.</p>
        </div>
        <div class="rc-form-group {{ if .errorsMap.Description }}error{{end}}">
            <label for="description">Опис групи</label>
            <textarea rows="3" name="description" id="description" maxlength="250">{{.model.Description}}</textarea>
            <span>{{range $key, $val := .errorsMap.Description}}{{ $val }}{{end}}</span>
            <p>Опис може містити призначення групи.</p>
        </div>

        <div class="rc-form-group">
            <button type="submit" name="submit">Підтвердити</button>
        </div>
    </form>
</div>

{{template "footer" .}}

{{end}}