{{ define "group/list.html" }}
    {{template "header" .}}
    <link rel="stylesheet" type="text/css" href="{{.BasePath}}/static/css/datatables.custom.css" />
    <div class="registry">
        <div class="registry-header">
            <h1>Групи реєстрів</h1>
            {{if .allowedToCreate}}
                <a href="{{ .BasePath }}/admin/group/create" class="registry-add">
                    <img alt="add registry" src="{{ .BasePath }}/static/img/plus.png" />
                    <span>Створити нову групу</span>
                </a>
            {{end}}
        </div>

        <div class="registry-description">Перелік груп та їх статусів.</div>
        <div class="registry-table-wrap">
            <table id="registry-table" class="registry-table row-border">
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>Назва</th>
                    <th>Реєстри</th>
                    <th>Опис</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{range $key, $group  := .groups}}
                    <tr>
                        <td>
                            {{if $group.Group.Codebase.ForegroundDeletion}}
                                <img src="{{ $.BasePath }}/static/img/action-delete.png" alt="delete group" />
                            {{else}}
                                <img src="{{ $.BasePath }}/static/img/status-{{$group.Group.Codebase.StrStatus}}.png"
                                     alt="status {{$group.Group.Codebase.StrStatus}}" />
                            {{end}}
                        </td>
                        <td>
                            <a href="{{ $.BasePath }}/admin/group/view/{{$group.Group.Codebase.Name}}">
                                {{$group.Group.Codebase.Name}}
                            </a>
                        </td>
                        <td>
                            {{ range $key, $registry := $group.Registries }}
                                <div>{{$registry.Name}}</div>
                            {{end}}
                        </td>
                        <td>
                            {{$group.Group.Codebase.Description}}
                        </td>
                        <td>
                            {{if $group.Group.CanUpdate}}
                            {{if not $group.Group.Codebase.ForegroundDeletion}}
                                <a href="{{ $.BasePath }}/admin/group/edit/{{$group.Group.Codebase.Name}}">
                                    <img src="{{ $.BasePath }}/static/img/action-edit.png" alt="edit group" />
                                </a>
                            {{end}}
                            {{end}}
                        </td>
                        <td>
                            {{if $group.Group.CanDelete}}

                                    {{if not $group.Group.Codebase.ForegroundDeletion}}
                                        <a href="#" class="{{if $group.Registries}}no-delete-registry{{else}}delete-registry{{end}}"
                                           data-name="{{$group.Group.Codebase.Name}}">
                                            <img src="{{ $.BasePath }}/static/img/action-delete.png" alt="delete group" />
                                        </a>
                                    {{end}}

                            {{end}}
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>

    {{template "delete-block" .}}

    <div id="no-delete-popup" class="popup-window">
        <div class="popup-header">
            <p>Неможливо видалити групу "<span id="no-delete-name">business-pro</span>"?</p>
            <a href="#" class="popup-close hide-popup">
                <img alt="close popup window" src="{{.BasePath}}/static/img/close.png" />
            </a>
        </div>
        <form id="no-delete-form" method="post" action="">
            <input type="hidden" name="_xsrf" value="{{ .xsrfdata }}" />
            <div class="popup-body">
                <p>
                    Щоб видалити групу, необхідно спочатку видалити з неї усі додані реєстри.
                </p>

            </div>
            <div class="popup-footer">
                <a href="#" class="hide-popup" id="no-delete-cancel">відмінити</a>
                <!--<button value="submit" name="codebase-delete" type="submit">Видалити</button>-->
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{{.BasePath}}/static/js/datatables.min.js"></script>
    <script type="text/javascript" src="{{.BasePath}}/static/js/registry.js"></script>
    {{template "footer" .}}

{{end}}