{{if .Type}}


<nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-row align-items-start p-0">
    <div class="navbar-collapse">
        <ul class="flex-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item {{if eq .Type "dashboard"}}active{{end}}" >
                <a class="nav-link pl-0" href="{{ .BasePath }}/admin/dashboard">
                    <i class="icon-dashboard" style="background: url('{{ .BasePath }}/static/img/dash.png')"></i>
                    <span class="link-name">ДАШБОРД</span>
                </a>
            </li>
            <li class="nav-item {{if eq .Type "registry"}}active{{end}}" >
                <a class="nav-link pl-0" href="{{ .BasePath }}/admin/registry/overview">
                    <i class="icon-dashboard" style="background: url('{{ .BasePath }}/static/img/dash.png')"></i>
                    <span class="link-name">РЕЄСТРИ</span>
                </a>
            </li>
            <li class="nav-item {{if eq .Type "cluster"}}active{{end}}" >
                <a class="nav-link pl-0 " href="{{ .BasePath }}/admin/cluster/management">
                    <i class="icon-dashboard" style="background: url('{{ .BasePath }}/static/img/cluster_management.png')"></i>
                    <span class="link-name">КЕРУВАННЯ КЛАСТЕРОМ</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

{{end}}